{% extends "base.html" %}

<head>
    <meta charset="UTF-8">
    <title>accredited</title>
</head>

{% block content %}
    <style>
            body {
                font-size: xx-large;
                }
    </style>

    <body>
        <h1>Already accredited</h1>
        <h1>First name: {{ person.first_name }}</h1>
        <h1>Last name: {{ person.last_name }}</h1>
        {% if person.speaker %}
            <h1>Is speaker!</h1>
        {% endif %}

        <form action="/events">
        <input type="submit" value="Return to events" />
        </form>
    </body>
{% endblock %}