{% extends "base.html" %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acreditacion QR</title>
</head>
<body>
    <style>
        canvas {
            display: none;
        }
        hr {
            margin-top: 32px;
        }
        input[type="file"] {
            display: block;
            margin-bottom: 16px;
        }
        div {
            margin-bottom: 16px;
            border: black;
        }
    </style>

    <h1 align="center">Event: {{event}} </h1>
    <h2 style="margin-left: 5%">Scan QR Code</h2>
    <div>
      <!--  <b>Device has camera: </b>
        <span id="cam-has-camera"></span>
        <br>-->
        <video muted playsinline id="qr-video" style="margin-left: 5%"></video>

    </div>
    <div>

        <br>
    </div>

    <span id="cam-qr-result" hidden>None</span>
    <br>


<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<script type="module">
    import QrScanner from "{% static 'qr-scanner.min.js' %}";
    QrScanner.WORKER_PATH = "{% static 'qr-scanner-worker.min.js' %}";

    const video = document.getElementById('qr-video');
    const camHasCamera = document.getElementById('cam-has-camera');
    const camQrResult = document.getElementById('cam-qr-result');
    const camQrResultTimestamp = document.getElementById('cam-qr-result-timestamp');
    const fileSelector = document.getElementById('file-selector');
    const fileQrResult = document.getElementById('file-qr-result');

    function setResult(label, result) {
        label.textContent = result;
        $.post("", { cam_read : result});
        camQrResultTimestamp.textContent = new Date().toString();
        label.style.color = 'teal';
        clearTimeout(label.highlightTimeout);
        label.highlightTimeout = setTimeout(() => label.style.color = 'inherit', 100);

    }

    // ####### Web Cam Scanning #######

    QrScanner.hasCamera().then(hasCamera => camHasCamera.textContent = hasCamera);

    const scanner = new QrScanner(video, result => setResult(camQrResult, result));
    scanner.start();

    document.getElementById('inversion-mode-select').addEventListener('change', event => {
        scanner.setInversionMode(event.target.value);
    });

    // ####### File Scanning #######

    fileSelector.addEventListener('change', event => {
        const file = fileSelector.files[0];
        if (!file) {
            return;
        }
        QrScanner.scanImage(file)
            .then(result => setResult(fileQrResult, result))
            .catch(e => setResult(fileQrResult, e || 'No QR code found.'));
    });

</script>
</body>
</html>
{% endblock %}
